*{margin: 0px; padding: 0px;}
ul{list-style: none;} /* 리스트 앞에 .  제거*/
a{text-decoration: none;} /* 링크에 밑줄  제거*/
 
header{
    width: 800px; /*메인 이미지의 너비 사이즈와 같음*/
    height: 95px;
    background-color: #2d3a4b;
 
    /* header 안에 요소들을 모두 absolute 포지션으로 배치할 것이라서 */
    /* absolute 요소가 header의 좌상단을 기준으로 하려면 */
    /* header의 position이 relative 여야만 함 */
    position: relative;
    
}
 
/* 제목영역안에 있는 메인 로고 이미지 위치 지정 */
#logo{
    position: absolute;
    top: 30px;
    left: 30px;
    
 
}
 
/* 제목영역안에 오른쪽 상단에 top_menu 배치 */
#top_menu{
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
    
}
 
/* top_menu a의 글씨 하얀색으로 */
#top_menu a{color: white;}
 
/* 헤더 영역안에 네비게이션 메뉴 배치 */
nav{
    position: absolute;
    bottom: 10px;
    left: 220px;
    font-size: 16px;
}
 
nav li{
    display: inline;
    margin-left: 30px;
}
 
nav li a{
	color: white;
    }
 

/* footer 영역 */
footer{
	width: 800px;
    height: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #f1f1f1;
}
 
/* 전체 페이지가 가운데로 오도록 */
#page{
	width: 50%;
	margin: 0px auto;
}


/*Exam*/

#content #main img{
 width: 800px;
 height: auto;"
}

#content #banner{
    width: 800px;
}

#content #banner b{
    float: left;
}

#content #banner b{
    float: right;
}

#content #banner b:active{
	alert('AI 기술 사이트로 이동하시겠습니까?');
}

footer img {
	width: 800px;
    height: auto;
}

